<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Login</title>
</head>
<body>
  <%- include('../partials/_header'); %>
  <main style="margin: lem;">
    <h3>Login Below!</h3>
    <form method="POST" action="/login">
      <label>Email</label>
      <input class="form-control" type="email" name="email" style="width: 300px; margin: 1em">
      <label>Password</label>
      <input class="form-control" type="password" name="password"  style="width: 300px; margin: 1em">
      <button type='submit' class='btn btn-primary'>Login</button>
    </form>
  </main>
</body>
</html>